@keyframes displayComponent {
    0% {
     transform: scale(0);
     opacity: 0%;
 }
 
     50% {
         opacity: 0%;
     }
 
     80% {
         transform: scale(1.4);
     }

     100%{
        transform: scale(1);
        opacity: 100%;
    }
 }
