// flexbox
@mixin flex($direction, $alignitems, $justifycontent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignitems;
  justify-content: $justifycontent;
}

@mixin transition {
  transition: all 200ms ease-in-out;
}

@mixin btnPost {
  @include flex(row, center, center);
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 3rem;
  height: 4rem;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  @include transition;
  overflow: hidden;

    &:hover {
      transform: scale(1.3);
    }

    &:active {
      transform: scale(1);
    }
}

// btn main style
@mixin btnSubmit {
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: transparent;
  color: $tertiary;
  cursor: pointer;

  padding: 1.1rem;
  margin: 1rem;
  @include transition;
  @include blocStlye;
  @include flex(row, center, center);

  &:hover {
    background-color: $vertPale;
    box-shadow: 0 0.4rem 0 0.1rem $tertiary;
    transform: translate(0, -0.3rem);
  }

  &:active {
    transform: translate(0, 0.3rem);
    box-shadow: none;
  }
}

@mixin btnCrud {
  font-size: 1.8rem;
  cursor: pointer;
  @include flex(row, center, center);
  border: none;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  @include transition;

  &:hover {
    background-color: $primary;
    color: white;
    border: 0.1rem solid $tertiary;
    box-shadow: -0.1rem 0.3rem 0 0.1rem $tertiary;
    transform: translate(0, -0.3rem);
  }

  &:active {
    background-color: transparent;
    border: none;
    border-left: 0.1rem solid $tertiary;
    box-shadow: none;
    transform: translate(0, 0rem);
  }
}

@mixin blocShadow {
  box-shadow: -0.3rem 0.3rem 0 0.1rem $tertiary;
}

@mixin blocStlye {
  border: 0.1rem solid $tertiary;
}

@mixin inputText {
  @include blocStlye;
  @include placeHolder;
  @include flex(row, center, flex-start);
  width: 80%;
  margin: 0.5rem;
  height: 3.3rem;
  padding: 0.8rem;
  resize: none;
}

@mixin placeHolder {
  color: $tertiary;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

@mixin errorMsg {
  display: inline-block;
  font-weight: 700;
  color: $primary;
  font-size: 1.2rem;
  text-transform: uppercase;
}

@mixin headerUser {
  &__user {
    @include flex(row, center, flex-start);

    &Img {
      overflow: hidden;
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      border: 0.1rem solid;
      margin: 0 1rem;
    }

    &Name {
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

@mixin headerBtn {
  &__btn {
    @include flex(row, center, space-around);
    border-radius: 0.5rem;

    &Modify {
      @include btnCrud;
      border-left: 0.1rem solid $tertiary;

    }

    &Delete {
      @include btnCrud;
      border-left: 0.1rem solid $tertiary;
    }
  }
}

@mixin displayImg {
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  border: 0.1rem solid $tertiary;
  border-bottom: 0.1rem solid $tertiary;
  background-color: white;
  @include blocShadow;
  @include flex(column, center, space-between);

  img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
}
