// flexbox
@mixin flex($direction, $alignitems, $justifycontent) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignitems;
  justify-content: $justifycontent;
}

// style des blocs
@mixin blocStlye {
  @include blocShadow;
  border-radius: 1rem;
  border-radius: 1rem;
  margin: 3rem auto;
}

@mixin blocShadow {
  box-shadow: 0 0 1rem 0 rgba($color: black, $alpha: 0.1);
}

// media query
@mixin mobileScreen {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin tabletScreen {
  @media screen and (max-width: 769px) {
    @content;
  }
}

@mixin transition {
  transition: all 200ms ease-in-out;
}

// bouton principal
@mixin mainBtn {
  border: 0.2rem solid $primary;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  background-color: $primary;
  border-radius: 3rem;
  color: white;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 1rem;
  @include transition;
  @include flex(row, center, center);

  &:hover {
    color: $primary;
    background-color: white;
    border: 0.2rem solid $primary;
  }

  &:active {
    color: white;
    background-color: $primary;
    box-shadow: inset 0 0 0.5rem 0.2rem rgba($color: black, $alpha: 0.3);
  }
}

// bouton secondaire
@mixin secondaryBtn {
  @include flex(row, center, center);
  width: 2rem;
  height: 2rem;
  @include transition;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 1.8rem;

  &:hover {
    transform: scale(1.3);
    color: $primary;
  }

  &:active {
    transform: scale(1);
  }
}

// style des formulaires
@mixin inputText {
  @include placeHolder;
  @include flex(row, center, flex-start);
  width: 80%;
  border: 0.2rem solid $secondary;
  border-radius: 1rem;
  outline-color: $primary;
  height: 3.3rem;
  padding: 0.8rem;
  margin: 0 1rem;
  resize: none;
}

@mixin placeHolder {
  color: $tertiary;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

@mixin errorMsg {
  display: inline-block;
  font-weight: 700;
  color: $primary;
  font-size: 1rem;
  text-transform: uppercase;
}

// style de la photo de profil
@mixin profilePic {
  overflow: hidden;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

// affichage des images
@mixin displayImg {
  @include flex(row, center, flex-start);
  height: 40rem;
  overflow: hidden;
}
