// colors

$primary: #FD2D01;
$secondary: #FFD7D7;
$tertiary: #4E5166;
$btnColor: #F4B810;
$vertPale: #d7ffd7;
$violetPale: #d7d7ff;
$bleu:  #2d00fd;
$vert: #01fd2d; 

// #01fd2d; // vert fluo
// #2d00fd; // bleu fluo

// #d7ffd7 // vert pale
// #d7d7ff // violet pale

// transition

$transition: all 200ms ease-in-out;