// colors

$primary: #fd2d01;
$secondary: #ffd7d7;
$tertiary: black;
$btnColor: #f4b810;
$vertPale: #d7ffd7;
$violetPale: #d7d7ff;
$bleu: #2d00fd;
$vert: #01fd2d;
$bgcolor: #FDF9EC;

// #01fd2d; // vert fluo
// #2d00fd; // bleu fluo

// #d7ffd7 // vert pale
// #d7d7ff // violet pale

// transition
