.header--connexion {
    height: 12rem;
    animation: displayComponent 300ms ease-in-out;
  
    &__img {
      margin-top: 3rem;
      @include flex(row, center, center);
      height: 100%;
  
      img {
        width: 30rem;

      }
    }
  }