.main--user {

  @include flex (column, center, flex-start);
}



.user {
  width: 50%;
  max-width: 70rem;
  margin: 13rem auto 3rem auto;
  @include blocStlye;

  @include flex(row, center, space-between);

  &--card {
    @include flex(column, center, center);
    text-align: center;
    position: relative;
    width: 50%;

    &__picture {
      width: 50%;
      position: relative;

      &Submit {
        position: absolute;
        @include btnSubmit;
        background-color: white;
        top: 78%;
        left: 40%;
        height: 3rem;
        width: 3rem;
      }

      &Img {
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        overflow: hidden;
        
        img {
          object-fit: cover;
        }
      }

      &Btn {
        position: absolute;
        cursor: pointer;
        top: 20%;
        right: 0;
        @include btnSubmit;
        background-color: white;
        width: 3rem;
        height: 3rem;

       

      }
    }

    &__input {
      display: none;
    }

    &__name {
      font-weight: 700;
      font-size: 3rem;
    }

    &__function {
      font-weight: 500;
      font-size: 2rem
    }

    &__bio {
      overflow-wrap: break-word;
      margin: 2rem 0;
    }

    &__update {
      position: absolute;
      right: 0;
      top: 0;
      @include flex(row, center, center);
      max-width: 10rem;

      &Btn {
        @include btnSubmit;
        margin: 0.5rem;
        width: 2rem;
        height: 2rem;

      }
    
    }


    &__form {
      @include flex(column, center, center);
      width: 50%;

      &Input {
        @include inputText;
      }

      &Text {
        @include inputText;
      }

      &Label {
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
      }

      &Error {
        @include errorMsg;
      }

      &Submit {
        @include btnSubmit;
        margin-top: 0;
      }
    }
  }

  &--post {

    margin: 13rem auto 3rem auto;
    border-radius: 0.5rem;
    border: 0.1rem solid $tertiary;
    max-height: 50rem;
    width: 50%;
    overflow: scroll;
  }

  
}
