.user {
  width: 90%;
  max-width: 50rem;
  margin: 3rem auto;
  @include blocStlye;

  @include flex(row, center, flex-start);

  &--card {
    position: relative;
    padding: 5rem;
    width: 100%;
    border-left: 0.1rem solid $tertiary;

    &__picture {

      position: relative;
      @include flex(row, center, center);
      padding: 4rem;

      &Submit {
        position: absolute;
        @include btnSubmit;
        background-color: white;
        top: 65%;
        height: 3rem;
        width: 3rem;
        bottom: -20%;
      }

      &Img {
        @include flex(row, center, center);
        overflow: hidden;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        border: 0.1rem solid $tertiary;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover;
        }
      }

      &Btn {
        position: absolute;
        top: 0;
        right: 0;
        @include btnCrud;
        border-left: 0.1rem solid $tertiary;
        border-bottom: 0.1rem solid $tertiary;
        opacity: 1;

        &Label {
          @include blocStlye;
          @include btnPost;         
        }

      }
    }

    &__input {
      display: none;
    }

    &__name {
      font-weight: 700;
      font-size: 3rem;
    }

    &__function {
      font-weight: 500;
      font-size: 2rem
    }

    &__bio {
      margin: 2rem 0;
    }

    &__update {
      position: absolute;
      right: 0;
      top: 0;
      @include flex(row, center, center);
      max-width: 10rem;

      &Btn {
        @include btnCrud;
        border-bottom: 0.1rem solid $tertiary;
        border-left: 0.1rem solid $tertiary;
       

      }
    
    }


    &__form {
      @include flex(column, center, center);
      padding: 1rem;
      width: 100%;

      &Input {
        @include inputText;
      }

      &Text {
        @include inputText;
      }

      &Label {
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 700;
      }

      &Error {
        @include errorMsg;
      }

      &Submit {
        @include btnSubmit;
      }
    }
  }

  
}
