.header {
    background-color: $secondary;
    height: 8rem;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    @include flex(row, center, space-between);
    border-bottom: 0.3rem solid $tertiary;

    &--welcome {
        margin: 1rem auto;
        width: 100%;
        @include flex (column, flex-start, space-between);

        &__logo {
            width: 15%;
        }

        &__user {
            @include flex(row, center, center);
            text-align: center;
            width: 50%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &--navbar {

        @include flex(row, center, space-between);
        width: 30%;
        max-width: 12rem;
        border: 0.1rem solid $tertiary;
        border-radius: 0.5rem;

        #linkProfile, #linkHome, #linkLogout {
            @include btnCrud;
            color: $tertiary;
            border-left: 0.1rem solid $tertiary;
        }

        #linkHome {
            border: none;
        }
    }
}
