.form--comment {
  @include flex(row, center, center);
  margin-top: 2rem;
  width: 100%;

  &__input {
    @include inputText;
  }

  &__btn {
    @include btnPost;
  }

  &__error {
    @include errorMsg;
    margin: 1rem auto;
  }
}

.comment {
  @include flex(column, center, center);
  margin: 1rem auto;
  @include blocStlye;
  border: 0.1rem solid $tertiary;
  background-color: $secondary;
  width: 89%;

  &--header {
    @include flex(row, center, space-between);
    background-color: $primary;
    @include headerUser;
    @include headerBtn;
    border-bottom: 0.1rem solid $tertiary;
    height: 4rem;
    width: 100%;
  }

  &--message {
    margin: 1.5rem;
  }
}
