.form--comment {
  @include flex(row, center, center);
  margin: 1rem;
  width: 100%;

  &__input {
    @include inputText;
  }

  &__btn {
    @include btnPost;
  }

  &__error {
    @include errorMsg;
    margin-bottom: 1rem;
  }
}

.comment {
  @include flex(column, center, center);
  box-shadow: 0 0 1rem -0.3rem rgba($color: black, $alpha: 0.1);
  margin: 1rem auto;
  width: 100%;

  &--header {
    @include flex(row, center, space-between);
   // box-shadow: 0 0.3rem 2rem -0.8rem rgba($color: black, $alpha: 0.1);
    width: 100%;
    padding: 0 1rem;
    height: 4rem;

    &__user {

      @include flex (row, center, space-between);

      &Img {
        @include profilePic;
        width: 2rem;
        height: 2rem;
      }

      &Name {
        margin-left: 1rem;
        font-weight: 900;
      }
    }

    &__btn {

      @include flex(row, center, space-between);
      width: 10%;

      &Modify, &Delete {
        @include btnPost;
        font-size: 1.2rem;
      }
    }

  }

  &--message {
    width: 100%;
    padding: 1rem;
    font-weight: 300;
  }
}
