//background
main {
  img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60rem;
    z-index: -100;
    opacity: 0.5;
  }
}

.form--container {
  background-color: white;
  box-shadow: -0.1rem 0.2rem 0 0.1rem $tertiary;
  max-width: 70rem;
  width: 80%;
  margin: auto;
  margin-top: 15rem;
  overflow: hidden;
  @include blocStlye;
}

//header btn change form
.form--mode {
  width: 100%;
  border-bottom: 0.1rem solid $tertiary;

  &__btn {
    width: 50%;
    @include button;
    padding: 1rem;
    @include transition;

    &:nth-child(1n + 2) {
      border-left: 0.1rem solid $tertiary;
    }

    &:hover {
      background-color: $primary;
      color: white;
    }

    &--clicked {
      background-color: $primary;
      color: white;
    }

    &--isSignup {
      background-color: $primary;
      width: 100%;
      color: white;
    }
  }
}

.form--connexion {
  // container btn & forms

  // form
  padding: 2rem;
  @include flex(column, center, space-between);

  &__inputBloc {
    @include flex(row, center, flex-start);
    position: relative;
    background-color: white;
    overflow: hidden;
    margin: 1rem;
    @include blocStlye;
    padding: 0.5rem;
    width: 95%;
    max-width: 55rem;
  }

  &__input {
    height: 100%;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    width: 90%;

    &::placeholder {
      @include placeHolder;
    }

    &:focus {
      outline: none;
    }
  }

  &__label {
    font-size: 2rem;
    padding-left: 1rem;
    margin-right: 1rem;
  }

  &__submit {
    @include btnSubmit;
  }

  &__error {
    @include errorMsg;
  }
}
