

.form--container {
  background-color: transparent;
  max-width: 60rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  overflow: hidden;
  @include blocStlye;
  @include blocShadow;
  animation: displayComponent 300ms ease-in-out;
}

//header btn change form
.form--mode {
  width: 100%;

  &__btn {
    border: none;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: white;
    color: $tertiary;
    cursor: pointer;
    width: 50%;
    padding: 1rem;
    @include transition;

    &:hover {
      background-color: $primary;
      color: white;
    }

    &--clicked {
      background-color: $primary;
      color: white;
    }

    &--isSignup {
      background-color: $primary;
      width: 100%;
      color: white;
    }
  }
}

.form--connexion {
  // container btn & forms

  // form
  padding: 2rem;
  @include flex(column, center, space-between);

  &__inputBloc {
    position: relative;
    @include flex (row, center, center);
    width: 100%;
  }

  &__input {
    @include placeHolder;
    @include inputText;
    margin: 1rem 0;
    width: 70%;

    @include mobileScreen {
      width: 80%;
    }
  }

  &__label {
    margin-right: 1.5rem;
    font-size: 2rem;
  }

  &__submit {
    @include btnSubmit;
  }

  &__error {
    @include errorMsg;
  }
}
