.form--post {
    margin: 3rem auto;
    @include flex (column, center, space-evenly);
    box-shadow: -0.1rem 0.2rem 0 0.1rem $tertiary;
    max-width: 50rem;
    width: 90%;
    @include blocStlye;

    &__header {
        margin-top: 2rem;
        width: 95%;
        @include flex(row, center, space-evenly);
    }

    &__text {
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 0.5rem;
        height: 4rem;
        border: none;
        outline: none;
        resize: none;
        @include blocStlye;
        width: 85%;
        
        &::placeholder {
            @include placeHolder;
            padding: 0.8rem;
        }

        &Update {
            width: 75%;
        }
    }

    &__btnImg {
        @include btnPost;
    }

    &__deleteImg {
        @include btnPost;
    }

    &__submit {
        @include btnSubmit;
        margin-bottom: 2rem;
    }


    &__input {
        display: none;
    }

    &__error {
        @include errorMsg;
        margin: 0.2rem;
    }

    &__previewImg {
        @include flex(row, center, center);
        @include blocStlye;
        margin-top: 1rem;
        width: 94%;
        overflow: hidden;
        height: 30rem;

        img {
            object-fit: cover;
            height: 30rem;
        }
    }
}