.form--post {
  margin: 3rem auto;
  @include flex(column, center, space-evenly);
  box-shadow: -0.1rem 0.2rem 0 0.1rem $tertiary;
  max-width: 50rem;
  width: 90%;
  @include blocStlye;

  &__header {
    margin-top: 2rem;
    width: 95%;
    @include flex(row, center, space-evenly);
  }

  &__text {
    @include inputText;

    &Update {
      width: 75%;
    }
  }

  &__btnImg {
    @include btnPost;
  }

  &__deleteImg {
    @include btnPost;
  }

  &__submit {
    @include btnSubmit;
    height: 3.2rem;
    margin-bottom: 2rem;
  }

  &__input {
    display: none;
  }

  &__error {
    @include errorMsg;
    margin: 0.2rem;
  }

  &__previewImg {
    @include flex(row, center, center);
    @include blocStlye;
    margin-top: 1rem;
    width: 94%;
    overflow: hidden;
    height: 30rem;

    img {
      object-fit: cover;
      height: 30rem;
    }
  }
}
