// style des posts
.post {
  @include blocStlye;
  @include flex(column, center, center);
  max-width: 50rem;
  width: 90%;
  margin: 3rem auto;
  animation: displayComponent 300ms ease-in-out;

  &--header {
    @include flex(row, center, space-between);
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0.3rem 2rem -0.8rem rgba($color: black, $alpha: 0.1);
    margin-bottom: 2rem;
    width: 100%;
    padding: 0 2rem;
    height: 5rem;

    // style de l'entête du post et des informations de l'utilisateur
    &__user {
      @include flex(row, center, space-between);

      &Img {
        @include profilePic;
      }

      &Name {
        margin-left: 1rem;
        font-weight: 900;
        @include transition;

        a {
          color: $tertiary;
          text-decoration: none;

          &:hover {
            color: $primary;
          }
        }

        &:hover {
          color: $primary;
          transform: scale(1.2);
        }

        &:active {
          transform: scale(1);
        }
      }
    }

    // style des boutons pour modifier ou supprimer le post
    &__btn {
      @include flex(row, center, space-between);
      max-width: 5rem;
      width: 20%;

      &Modify,
      &Delete {
        @include secondaryBtn;
        font-size: 1.5rem;

          @include mobileScreen {
            font-size: 1.7rem;
          }
      }
    }
  }

  // contenu du post
  &--content {
    @include flex(column, center, space-between);

    &__img,
    &__imgPreview {
      @include displayImg;

      img {
        object-fit: cover;
      }

      &Preview {
        margin-top: 1rem;
      }
    }

    &__text {
      margin: 1rem 0;
      font-weight: 700;
      font-size: 1.5rem;
      color: $tertiary;
      padding: 1rem;
    }
  }

  // pied de page du post, bouton like et commentaire
  &--footer {
    @include flex(row, center, flex-start);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 -0.3rem 2rem -0.8rem rgba($color: black, $alpha: 0.1);
    margin-top: 2rem;
    padding: 0 1rem;
    width: 100%;
    height: 5rem;

    &__bloc {
      @include flex(row, center, space-between);
      margin: 1rem;
    }

    &__number {
      font-weight: 900;
      font-size: 1.5rem;
    }

    &__comment,
    &__like {
      @include secondaryBtn;
      margin-right: 0.5rem;

      // lorsque l'utilisateur clique sur le bouton like ou comment celui ci se rempli
      &Filled {
        color: $primary;
      }
    }
  }

  // ajustement du bloc où sont affichés les commentaires
  &--comment {
    width: 100%;
    @include flex(column, center, space-between);
  }
}
